# 1. List Comprehensions

In [9]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
newlist = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)if (i+j+k) !=n]
print(newlist)

1
1
1
3
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0]]

# 2.Find the runner up score

In [ ]:
n = int(input())
    arr = map(int, input().split())
    arr2 = list(set(arr))
    arr2.sort()
    print(arr2[-2])

# 3. Nested Lists

In [ ]:
for _ in range(int(input())):
        name = input()
        score = float(input())
        if __name__ == '__main__':
        li = []    
        li.append([name,score])
scr = [x[1] for x in li]
min_li = sorted(set(scr))
stud = sorted([y[0] for y in li if y[1]==min_li[1]])
[print(k) for k in stud]

# 4. percentage

In [26]:
n = int(input())
x = [input().split() for i in range(n)]
c = input()
d = {}
for i in range(n):
    d[x[i][0]] = list(map(float,x[i][1:]))
print(f'{sum(d[c])/len(d[c]):.2f}')

3
jo 20 5 5
tan 50 50 50
vi 40 80 20
jo
10.00

# 5 Lists

In [ ]:
N = int(input())
l=[]    
for i in range(N):
        s = list(input().split())
        if s[0]=='insert':
            l.insert(int(s[1]),int(s[2]))
        if s[0]=='remove':
            l.remove(int(s[1]))
        if s[0]=='append':
            l.append(int(s[1]))
        if s[0]=='sort':
            l.sort()
        if s[0]=='pop':
            l.pop()
        if s[0]=='reverse':
            l.reverse()     
        if s[0]=='print':
            print(l)

# 6 Tuples

In [39]:
n = int(input().strip())
t = tuple(int(i) for i in input().strip().split())

print(hash(t))

2
1 2
-3550055125485641917

# 7 Sets

In [40]:
array = [161, 182, 161, 154, 176, 170, 167, 171, 170, 174]
n = .000

joker = set(array)
n = sum(joker)/len(joker)
print (n)

n = sum(array)/len(array)
print (n)

169.375
168.6

# 8 No Idea

In [42]:
# taking input from the user
a=input().split(' ')
l=([int(i) for i in input().split(' ')])

# converting to set
firstset=set([int(i) for i in input().split(' ')])
secondset=set([int(i) for i in input().split(' ')])

# initalizing with zero
p=0

# using for loop with if statements 
for i in l:
    if i in firstset:
        p+=1
    if i in secondset:
        p-=1
        
# printing
print(p)

3
4
5
6
0

# 9 Symmetric difference

In [43]:
input()
set1 = set(map(int, input().split()))
input()
set2 = set(map(int, input().split()))
diff = list((set1 | set2) - (set1 & set2))
diff.sort()
diff = map(str,diff)
print("\n".join(diff))

2
8 -10
3
5 6 7
-10
5
6
7
8

# 10 set add

In [46]:
num=input()
listt=[]
for i in range(0,int(num)):
    j=input()
    listt.append(j)
dist=set(listt)
print(len(dist))

5
uk
usa
india
japan
china
5

# 11 set.discard() pop() remove()

In [ ]:
num = int(input())
data = set(map(int, input().split()))
operations = int(input())

for x in range(operations):
  oper = input().split()
  if oper[0] == "remove":
    data.remove(int(oper[1]))
  elif oper[0] == "discard":
    data.discard(int(oper[1]))
  else:
    data.pop()
    
print(sum(data))

# 12 set.Union

In [ ]:
m = int(input())
a = set(map(int,input().split()))
n = int(input())
b = set(map(int,input().split()))
print(len(a.union(b)))

# 13 Set Intersection

In [ ]:
n1=int(input())
set1=set(map(int,input().split()))
n2=int(input())
set2=set(map(int,input().split()))
print(len(set1.intersection(set2)))

# 14 Set.difference

In [ ]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a-b))

# 15 Set symmetric difference

In [ ]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a.symmetric_difference(b)))

# 16 Set mutations

In [ ]:
n = int(input())
A = set(map(int, input().split()))
N = int(input())
operations = []
for i in range(N):
    op, dummy = input().split()
    numbers = set(map(int, input().split()))
    operations.append((op, numbers))
for op, numbers in operations:
    if(op == 'intersection_update'):
        A &= numbers
    if(op == 'symmetric_difference_update'):
        A ^= numbers
    if(op == 'difference_update'):
        A -= numbers
    if(op == 'update'):
        A |= numbers
print(sum(A))

# 17 Captains room

In [ ]:
dist ={}
k = int(input())
list_of_members = [int(i) for i in input().split()]
for i in (list_of_members):
    if i in (dist.keys()):
        dist[i] +=1
    else:
        dist[i] = 1
dist_keys = list(dist.keys())
for i in dist_keys:
    if dist[i]==1:
        print(i)

# 18 check subset

In [ ]:
n = int(input())

for _ in range(n):
    a1 = int(input())
    s1 = set(map(int,input().split()))
    b1 = int(input())
    s2 = set(map(int, input().split()))
    
    print(s1.issubset(s2))

# 19 Check Strict superset

In [ ]:
A = set(input().split())
sup = True
for _ in range(int(input())):
    B = set(input().split())
    if not (A > B):
        sup = False
        break
print (sup)